.tile {
    background-color: white;
    color: #444;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.tile:hover {
    transform: scale(1.1);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

.tile mat-icon {
    margin-right: 0.5em;
    font-size: 2em;
}

.tile span {
    font-size: 1.2em;
    font-weight: bold;
}
