image: docker:stable

services:
  - docker:dind

stages:
  - build
  - deploy

variables:
  GIT_STRATEGY: clone
  IMAGE_NAME: csci5409-b00904097-repo
  ECR_REGISTRY: 230825027461.dkr.ecr.us-east-1.amazonaws.com
  ECR_REPO: csci5409-b00904097-repo
  ECR_TAG: latest
  AWS_DEFAULT_REGION: us-east-1

before_script:
  - echo "before script"

build:
  stage: build
  script:
    - sleep 30 # Wait for DIND to start up
    - docker build -t $IMAGE_NAME .
    - docker tag $IMAGE_NAME:$ECR_TAG $ECR_REGISTRY/$ECR_REPO:$ECR_TAG
  artifacts:
    paths:
      - $IMAGE_NAME
    expire_in: 1 week

deploy:
  stage: deploy
  image: amazon/aws-cli:latest
  script:
    - eval $(aws ecr get-login --no-include-email --region $AWS_DEFAULT_REGION)
    - eval $(aws ecr get-login-password --region $AWS_DEFAULT_REGION | docker login --username AWS --password-stdin $ECR_REGISTRY)
    - docker push $ECR_REGISTRY/$ECR_REPO:$ECR_TAG
